<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1>picture book</h1>
    <h1><%= link_to '新規登録 or ログイン', login_path, class: 'btn btn-warning btn-lg' %></h1>
    <h1><%= button_to 'ゲストログイン', guest_login_path, class: 'btn btn-warning btn-lg' %></h1>
  </div>
</div>

<p><div class='top-picture'>what's picture book？</div></p>
<div class='top-picture2'>お気に入りの絵本を投稿して共有しよう！</div>
  <%= image_tag 'what2.png', class: "top-image" %>

